
<div class="example-button-row">
    <button mat-raised-button color="primary" (click)="Mostrar()">Mostrar lista de personas </button>
    <button mat-raised-button color="primary" (click)="OrdenarPuntos()">Ordenar por puntos </button>
</div>

<!--
<div>
  <h2>PERSONAS DE LA LISTA</h2>
  <ul *ngFor="let persona of lista">
    <li *ngIf="persona.rol === 'Alumno'; else esProfe">
      Nombre: {{persona.nombre}} - Puntos: {{persona.puntos}}
      <button (click)="Incrementar(persona.nombre)">Añadir punto</button>
      <button class="mdc-icon-button material-icons" style="color:red" (click)="Eliminar(persona.nombre)">delete</button>
    </li>
    <ng-template #esProfe>
        Nombre: {{persona.nombre}}
    </ng-template>
  </ul>
</div> -->
<table mat-table [dataSource]="lista" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> <h2 style='color:rgb(9, 94, 9)' >Nombre</h2> </th>
      <td mat-cell *matCellDef="let persona"><p *ngIf="persona.rol === 'Alumno'"> {{persona.nombre}} </p> </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="puntos">
      <th mat-header-cell *matHeaderCellDef> <h2 style='color:rgb(9, 94, 9)'>Puntos </h2></th>
      <td mat-cell *matCellDef="let persona"> <p *ngIf="persona.rol === 'Alumno'"> {{persona.puntos}} </p></td>
    </ng-container>
    <ng-container matColumnDef="incrementar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let persona"><button *ngIf="persona.rol === 'Alumno'" class="mdc-icon-button material-icons" style="color:green" (click)="Incrementar(persona.nombre)">add</button> </td>
      </ng-container>
    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let persona"><button *ngIf="persona.rol === 'Alumno'" class="mdc-icon-button material-icons" style="color:red" (click)="Eliminar(persona.nombre)">delete</button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


<span>



</span>

<section class="mat-typography" style ='color:blue'>
    <h1><br><br>Nueva persona</h1>
</section>
<form (ngSubmit)="Pon();" class="example-form">

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Nombre" name="nombre" required [(ngModel)]="nombre">
      <button mat-button *ngIf="nombre" matSuffix mat-icon-button aria-label="Clear" (click)="nombre=''">
          <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Contraseña" name="pass" required [(ngModel)]="pass">
        <button mat-button *ngIf="pass" matSuffix mat-icon-button aria-label="Clear" (click)="pass=''">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    <mat-form-field>
        <select matNativeControl placeholder="Rol" required name="rol" required [(ngModel)]="rol">
          <option value="Profesor">Profesor</option>
          <option value="Alumno">Alumno</option>
        </select>
      </mat-form-field>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Puntos" name="puntos" required [(ngModel)]="puntos">
        <button mat-button *ngIf="puntos" matSuffix mat-icon-button aria-label="Clear" (click)="puntos=''">
            <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    <button mat-raised-button color="primary"> Crear nueva persona</button>
 </form>



